transformers==4.30.2
accelerate==0.21.0
scipy==1.11.1
sentencepiece==0.1.99
protobuf==3.20.3
peft==0.4.0
einops==0.6.1
safetensors==0.3.1
bitsandbytes==0.41.1
ninja==1.11.1
gradio==3.35.2
pydub==0.25.1
ffmpeg==1.4
openpyxl
